<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="Cards Cards_refresh" th:fragment="pool">

    <div class="Cards">
        <div class="Card" th:each="book: ${booksList}">
            <div class="Card-picture">
                <a href="#a" th:href="${book.id}">
                    <img src="/assets/img/content/main/card.jpg" alt="card.jpg"/>
                </a>
            </div>
            <div class="Card-content">
                <strong class="Card-title">
                    <a href="#" th:text="${book.title}"></a>
                </strong>
                <div class="Card-description" th:text="${book.author}"></div>
                <div class="Card-cost"><!--Дополнительно, используя условие if, нужно выводить стоимость без скидки,
                или добавить вывод скидки, если она есть.-->
                    <span th:text="${book.priceOld}" th:if="${book.priceOld!='$0'||'0'}" class="Card-priceOld">₽300.00</span>
                    <span th:text="${book.price}"  class="Card-price">₽190.00</span>
                </div>
               price;
            </div>
        </div>
    </div>

    <div class="Cards-footer Cards-footer_center"><a class="btn btn_primary" href="#" th:attr="data-refreshshow = ${category}" data-refreshshow="recent"
                                                     data-refreshoffset="20" data-refreshlimit="20" th:text="#{howMore}">Показать еще</a>
    </div>
</div>
</html>