<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<section th:fragment="genres_fragments">

    <th:block  class="" th:each="menuItem , iState : ${tagList}">
        <meDiv th:switch="${ menuItem.children.size()}">
            <meDiv th:case="0">
                <meDiv  class="Tags ">
                    <a class="Tag " style="color: rgb(43,43,43)"    th:href="@{/genres/SLUG(SLUG=${menuItem.getSlug()})}"
                       th:text="(${menuItem.name})+'('+(${menuItem.getSizeBook()-1})+')'"></a>
                </meDiv>
            </meDiv>
            <meDiv th:case="*">
                <div>
                    <div class="Tags "><a   th:href="@{/genres/SLUG(SLUG=${menuItem.slug})}" style="color: rgba(44,44,44,0.85)" class=""
                                          th:text="(${menuItem.name})+'('+(${menuItem.getSizeBook()-1})+')'"
                                          href="/genres/slug.html">Фантастика<span>(44333)</span></a>
                        <div
                                th:replace="~{fragments/genres_fragments :: genres_fragments(tagList=${menuItem.children})}"
                                th:with="tagList=${menuItem.children}"></div>
                    </div>
                </div>
            </meDiv>
        </meDiv>
    </th:block>
</section>
</body>
</html>