<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="Tags" id="tags" th:fragment="cloud">
    <myBlock th:each="tag, iState :${tagList}">
        <myBlock th:switch="0"><!--+'('+tag.listBook.size()+')'-->
            <myBlock th:if="${iState.count<(iState.size/9)}" class="Tag Tag_lg"><a th:case="0"
                                                                                   th:text="${tag.nameTag}"
                                                                                   th:href=" @{/api/books/tag/(ID=${tag.id})}"
                                                                                   href="/tags/index.html">
            </a>
            </myBlock>
            <myBlock th:if="${iState.count<(iState.size/7)}" class="Tag Tag_md"><a th:case="0"
                                                                                   th:text="${tag.nameTag}"
                                                                                   th:href=" @{/api/books/tag/(ID=${tag.id})}"
                                                                                   href="/tags/index.html">
            </a>
            </myBlock>
            <myBlock th:if="${iState.count<(iState.size/4)}" class="Tag Tag_xs"><a th:case="0"
                                                                                   th:text="${tag.nameTag}"
                                                                                   th:href=" @{/api/books/tag/(ID=${tag.id})}"
                                                                                   href="/tags/index.html">
            </a>
            </myBlock>
            <myBlock th:if="${iState.count<(iState.size/3)}" class="Tag  "><a th:case="0"
                                                                              th:text="${tag.nameTag}"
                                                                              th:href=" @{/api/books/tag/(ID=${tag.id})}"
                                                                              href="/tags/index.html">
            </a>
            </myBlock>
            <myBlock th:if="${iState.count<(iState.size/2)}" class="Tag Tag_sm"><a th:case="0"
                                                                                   th:text="${tag.nameTag}"
                                                                                   th:href=" @{/api/books/tag/(ID=${tag.id})}"
                                                                                   href="/tags/index.html">
            </a>
            </myBlock>
        </myBlock>
    </myBlock>
</div>
</html>