<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{topbar.authors}">Тут название страницы написать</title>
    <meta name="description" content="Описание страницы">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link href="favicon.ico" rel="shortcut icon">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" as="font" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/fonts.min.css?v=45035206">
    <link rel="stylesheet" href="/assets/css/basic.min.css?v=45035206">
    <link rel="stylesheet" href="/assets/css/extra.min.css?v=45035206">
    <script defer src="/assets/js/scripts.min.js?v=45035206"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script th:inline="javascript">
        var username = [(${flagButton})];
        $(document).ready(function () {
            if (username) {

            }
            {

                $("myBlock").click(function () { // задаем функцию при нажатиии на элемент <button>
                    $('.submitButton').remove(); // удаляем все элементы <p> из DOM
                });
            }
        });
    </script>
</head>
<body class="Site">
<header class="Header"
        th:replace="~{fragments/common_header_fragment :: head(popular='menu-item menu-item_ACTIVE', status='unauthorized')}"></header>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <ul class="breadcrumbs"
                th:replace="~{fragments/breadcrumb_fragment :: breadcrumps(category='Genres',breadTitle=(${nameGenre}),breadPath=(#{breadPath.genres}))}"></ul>
            <div class="Section">
                <div class="Section-header">
                    <h1 class="Section-title" th:text="${nameGenre}">Genres
                    </h1>
                </div>
                <div class="Cards Cards_search Cards_refresh">
                    <div class="Card" th:each="book : ${genresBooks}">
                        <div class="Card-picture"><a th:href="@{'/books/'+${book.slug}}"><img  th:src="${book.image}"
                                                                   src="/assets/img/content/main/card.jpg"
                                                                   alt="card.jpg"/></a>
                        </div>
                        <div class="Card-content">
                            <strong class="Card-title"><a href="#" th:text="${book.title}">Техника</a>
                            </strong>
                            <div class="Card-description" th:text="${book.description}">Кондратенко Александр Петрович
                            </div>
                            <div class="Card-cost">
                                <th:block th:if="${book.getPrice()==0}">
                                    <span style="color: limegreen" class="Card-price" th:text="${'$'+book.priceOld}">₽300.00</span>
                                </th:block>

                                <th:block th:if="${book.getPrice()!=0}">
                                    <span class="Card-priceOld" th:text="${'$'+book.priceOld+'-'+book.getPrice()+'%'}">₽300.00</span>
                                    <span style="color: limegreen" class="Card-price" th:text="${'$'+ book.dicsountPrice()}">₽190.00</span>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>
                <myBlock class="emptyMe" id="myDiv1" th:if="${flagButton}">
                    <div
                            id="submitButton" class=" submitButton Cards-footer Cards-footer_center"><a
                            class="btn btn_primary" href="#"
                            data-refreshshow="genres"
                            data-refreshoffset="0"
                            data-refreshlimit="5"
                            th:attr="data-refreshquery=${SLUG}"
                    >Показать еще</a>
                    </div>
                </myBlock>
            </div>
        </main>
    </div>
</div>
<footer class="Footer" th:replace="~{fragments/common_footer_fragment :: footer}"></footer>
</body>
</html>